.project-card{
    background:#0b1411;
    border:1px solid rgba(55,255,159,.15);
    border-radius:18px;
    overflow:hidden;
    transition:.35s;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:#37ff9f;
    box-shadow:0 0 30px rgba(55,255,159,.15);
}

.project-image{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-content{
    padding:22px;
}

.project-tool{
    color:#37ff9f;
    font-size:.9rem;
    font-weight:600;
}

.project-content h3{
    margin:12px 0;
    font-size:1.5rem;
    color:white;
}

.project-content p{
    color:#8fa39a;
    line-height:1.7;
}

.project-tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.project-tags span{
    padding:7px 14px;
    border-radius:30px;
    border:1px solid rgba(55,255,159,.25);
    color:#37ff9f;
    font-size:.85rem;
}

.project-buttons{
    display:flex;
    gap:15px;
}

.project-buttons a{
    text-decoration:none;
    color:#37ff9f;
    border:1px solid #37ff9f;
    padding:10px 18px;
    border-radius:10px;
    transition:.3s;
}

.project-buttons a:hover{
    background:#37ff9f;
    color:#07120d;
}